@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

body {
    width: 100%;
    margin-bottom: 10rem;
}

button {
    font-weight: bold;
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    background-color: blue;
    border-radius: 2rem;
    border: none;
}

.navbar {
        background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
margin: 0;
}

.navbar h2{
    margin: 0;
    padding: 0;
}

.navbar .menu ul {
    list-style: none;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.one {
    display: flex;
    flex-direction: column;
}

.one .left,
.right {
    margin: 1rem;
    flex-grow: 1;
    border-radius: 2rem;
}


.one .left h1,h3 {
    margin-top: 1rem;
}

.one .left .features{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.one .left .feature {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.one .left .feature img {
    width: 2rem;
    height: 2rem;
}

.one .left .feature p {
    margin: 0;
    padding: 0;
}

.one .right {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one .right img{
    height: auto;
    width: 25rem;
}

/* section-2 */
.two{
    display: flex;
    flex-direction: column;
}

.two .left,
.right {
    margin: 1rem;
    flex-grow: 1;
    border-radius: 2rem;
}
.two .left{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.two .left img{
    height: auto;
    width: 25rem;
}

.two .right h3,p,h2,button{
    margin-top: 2rem;
}

#bold{
    font-weight: bold;
}

/* section three */

.three{
    margin-top:5rem ;
    margin-bottom: 5rem;
    text-align: center;
}

.three .features{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.three .feature img {
    width: 4rem;
    height: 4rem;
}
.three .feature p {
    margin: 0;
    padding: 0;
}

.three .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.four{
    margin-top:2rem ;
}

#center{
    text-align: center;
}

.four .menu .card1 {
    grid-area: card1;
}
.four .menu .card2{
    grid-area: card2;
}
.four .menu .card3{
    grid-area: card3;
}
.four .menu .card4{
    grid-area: card4;
}

.four .menu img{
    height: 15rem;
    width: 15rem;
}

.four .menu .card{
    box-sizing: border-box; 
    padding: 1rem;
    border-color: black;
    border: 1px solid;
    border-radius: 2rem;
    margin: 1rem;
}

.four .menu .card .top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top p,h3{
    margin-top: 0rem;
}
.bottom h3,button{
    margin-top: 0rem;
}

.four .menu .card .bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.four .menubutton{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four .menubutton button{
    width: 50%;
}

@media screen and (min-width:690px) and (max-width:991px)
{
    body{
        font-size: 1.5rem;
    }
    .four .menu{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "card1 card2" "card3 card4" ;
    }
    
}



@media screen and (min-width:992px) {

    .one {
        display: flex;
        flex-direction: row;
    }

    .one .left,
    .right {
        width: 50%;
        margin: 1rem;
        border-radius: 2rem;
    }

    .navbar {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .navbar .logo {
        margin-left: 0;
        margin-right: 10rem;
    }

    .one .right {
        background-color: blue;
    }

    .one .right img {
        height: auto;
        width: 25rem;
    }

    .two{
        flex-direction: row;
    }

    .two .left,
    .right {
        width: 50%;
        margin: 1rem;
        border-radius: 2rem;
    }
    
    .two .left{
        background-color: blue;
    }

    .four .menu{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas: "card1 card2 card3 card4" ;
    }
}